<div>
  <h1>Comencemos</h1>
<h3>el mensaje del padre es {{ hijotexto }} </h3>
</div>

<div>
  <h1>el segundo mensaje del padre</h1>
  <h4>{{texto2hijo}}</h4>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda facilis fugit nobis culpa suscipit, molestiae animi magnam veritatis adipisci dolorem repellat minus atque. Excepturi laborum veniam nobis minus eius harum tempore soluta sed laborum labore accusamus nam ipsum nobis, repellendus rerum odit dolore repudiandae laboriosam in magnam, doloribus delectus praesentium suscipit placeat.
  </p>

</div>

<div>
  <h3>el tercer mensaje del padre : lista de compras {{texto3hijo.frutas | json}}  </h3>

</div>

<div>
  compra de material escolar para clases:
  {{elemento4hijo.cuadernos | json}}
</div>